.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.carousel-caption h5 {
    opacity: 0.0;
    font-size: 48px;
    line-height: normal;
    margin-bottom: 10px;
}
.carousel-caption p {
    font-size: 18px;
    opacity: 0.0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}
@media (max-width: 767px) {
    .carousel-caption h5 {
        font-size: 24px;
    }
    .carousel-caption p {
        font-size: 12px;
    } 
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}